@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --background-body: #f7f8f9;
    --colorP: #4b5768;
    --logo-filter: 0;
    --colorheading: #191d23;
    --btnDBg: #191d23;
    --btnLDBg: #eff0f1;
    --btnLDColor: #717171;
    --btncolor: #f7f8f9;
    --btncolorHover: #f7f8f9;
    --btnOutlineColor: #4b5768;
    --stepper-bg: #ffffff;
    --stepperActiveBg: #191d23;
    --stepperActiveColor: #f3f3f3;
    --stepperActiveColor: #ffffff;
    --inputbg: #ffffff;
    --inputborderbg: #d0d5dd;
    --btnTBg: transparent;
    --btnTcolor: #191d23;
    --logo-filter: invert(0) brightness(0);
    --switch-icon-moon: inline-block;
    --switch-icon-sun: none;
    --white: #fff;
    --black: #000;
    --blue-purple: #6941c6;
    --tabcompletebg: #ededff;
    --tabcompletecolor: #6563ff;
    --navbarBg: #ffffff;
    --navbarBorder: #e7eaee;
    --Gobackbg: #fff;
    --GobackColor: #000;
    --skipBg: #de473c;
    --skipColor: #fff;
    --sliderDotcolor: #f4edff;
    --sliderActiveDotcolor: #6941c6;
    --navbarColor: #475569;
    --tab-heading-color: #323a46;
    --chat-btn-bg: #323a46;
    --chat-input-bg: #f7f8f9;
    --chat-footer-bg: #fff;
    --chat-body-bg: #fff;
    --chat-header-bg: #fff;
    --chat-header-color: #6941c6;
    --chat-msg-color: #4b5768;
    --chat-my-msg-bg: #fdfdfd;
    --chat-other-msg-bg: #f7f8f9;
    --chat-input-color: #000;
    --prompt-input-bg: #d7d7d7;
    --prompt-input-color: #262626;
    --instruction-modal-bg-color: #fff;
    --instruction-modal-head-color: #141414;
}

[theme="darkTheme"] {
    --background-body: #121212;
    --logo-filter: invert(1) brightness(2.5);
    --colorP: #949494;
    --colorheading: #dbdbdb;
    --btnDBg: #353535;
    --btnLDBg: #1e1e1e;
    --btnLDColor: #717171;
    --btncolor: #f3f3f3;
    --btncolorHover: #f3f3f3;
    --btnOutlineColor: #f3f3f3;
    --stepper-bg: #1e1e1e;
    --stepperActiveBg: #121212;
    --stepperActiveColor: #f3f3f3;
    --inputbg: #272727;
    --inputborderbg: #353535;
    --btnTBg: transparent;
    --btnTcolor: #dbdbdb;
    --switch-icon-moon: none;
    --switch-icon-sun: inline-block;
    --tabcompletebg: #dbdbdb;
    --tabcompletecolor: #272727;
    --navbarBg: #383838;
    --navbarBorder: #383838;
    --Gobackbg: #333333;
    --GobackColor: #b8b8b8;
    --skipBg: #de473c;
    --skipColor: #fff;
    --sliderDotcolor: #fff;
    --sliderActiveDotcolor: #6941c6;
    --navbarColor: #717171;
    --tab-heading-color: #dbdbdb;
    --chat-btn-bg: #717171;
    --chat-input-bg: #2c2c2c;
    --chat-footer-bg: #1e1e1e;
    --chat-header-bg: #1e1e1e;
    --chat-header-color: #b8b8b8;
    --chat-body-bg: #1e1e1e;
    --chat-my-msg-bg: #232323;
    --chat-msg-color: #b8b8b8;
    --chat-other-msg-bg: #333333;
    --chat-input-color: #fff;
    --prompt-input-bg: #565454;
    --prompt-input-color: #f9f9f9;
    --instruction-modal-bg-color: #000000;
    --instruction-modal-head-color: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #83808969;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    transition: 0.5s;
    background-color: var(--background-body);
    color: var(--colorheading);
}

.top-logo {
    filter: var(--logo-filter);
}

p {
    color: var(--colorP);
    font-size: clamp(1rem, 1.5vw, 2rem);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: var(--colorheading);
}

label {
    color: var(--colorheading);
}

.h1,
h1 {
    font-weight: 700;
}

.main-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

.getStartedPage {
    height: 100vh;
    width: 100%;
}

.getStartedPage>.row {
    height: 100%;
}

.btn-dark {
    background-color: var(--btnDBg);
    color: var(--btncolor);
}

.btn:hover {
    color: var(--btncolorHover);
    text-decoration: none;
}

.btn-light-dark {
    background-color: var(--btnLDBg);
    color: var(--btnLDColor);
}

.btn-transparent {
    background-color: var(--btnTBg);
    color: var(--btnTcolor);
}

.btn {
    padding: 15px 32px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btn-outline-dark {
    color: var(--btnOutlineColor);
}

.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.Goback-Btn {
    background-color: var(--Gobackbg);
    color: var(--GobackColor);
    border: none;
}

.btn-primary {
    background-color: var(--btnDBg);
    color: var(--btncolor);
    background-color: var(--blue-purple);
    border-color: var(--blue-purple);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--btnDBg) !important;
    border: 1px solid var(--btnDBg) !important;
    color: var(--btncolor) !important;
    filter: invert(0) !important;
}

.skip-video-btn {
    background-color: var(--skipBg);
    color: var(--skipColor) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    margin-top: 20px;
    padding: 5px 32px 5px 32px;
}

input.prompt-gpt {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 120px;
    z-index: 2;
    border: none;
    background: var(--prompt-input-bg);
    color: var(--prompt-input-color);
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: auto;
    min-width: 250px;
}

.getStartedColumnLeft {
    height: 100%;
    padding-left: 5%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.brandLogo {
    padding-top: 48px;
    width: 320px;
}

.contentDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.getStartedColumnRight {
    height: 100%;
    background-image: url("../images/background/01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.stickybar {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: fit-content !important;
}

/* Get Started page */

.getstartedWizard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.getstartedWizard .signup-step-container {
    padding: 30px;
    background-color: var(--stepper-bg);
    max-width: 912px;
    width: 100%;
    margin: 20px;
    height: 90%;
}

.welcome-page .content-container h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: clamp(2.7rem, 1vw, 3rem);
}

.getstartedWizard .wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
    gap: 25px;
}

.getstartedWizard .wizard>div.wizard-inner {
    position: relative;
    margin-bottom: 0px;
    text-align: center;
}

.getstartedWizard .connecting-line {
    height: 2px;
    margin: 0 auto;
    z-index: 1;
}

.getstartedWizard .wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.getstartedWizard span.round-tab {
    width: 35px;
    height: 35px;
    line-height: 32px;
    display: inline-block;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    color: #4b5768;
    font-weight: 600;
    border: 1px solid #ddd;
    background: #e7eaee;
}

.getstartedWizard span.round-tab i {
    color: #555555;
}

.getstartedWizard .wizard li.active span.round-tab {
    background: var(--stepperActiveBg);
    color: var(--stepperActiveColor);
    border-color: var(--stepperActiveBg);
}

.getstartedWizard .wizard li.active span.round-tab i {
    color: #5bc0de;
}

.getstartedWizard .wizard .nav-tabs>li.active>a i {
    color: #0db02b;
}

.getstartedWizard .wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}

.getstartedWizard .wizard .nav-tabs>li a {
    margin: 10px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
    gap: 15px;
    display: flex;
    align-items: center;
}

.getstartedWizard .wizard .nav-tabs>li a p {
    margin: 0;
}

.getstartedWizard .wizard .nav-tabs>li a:hover {
    background: transparent;
    text-decoration: none;
}

.getstartedWizard .wizard .tab-pane {
    position: relative;
    padding-top: 20px;
    height: 100%;
}

.getstartedWizard .tab-content>.active {
    display: block;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tab-pane h2 {
    margin-bottom: 24px;
    font-family: "Plus Jakarta Sans";
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
    color: var(--tab-heading-color);
}

.tab-pane input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: #696e6d;
    top: 3px;
    position: relative;
}

.tab-pane input {
    background-color: var(--inputbg);
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid;
    border-color: var(--inputborderbg);
    border-radius: 8px;
    margin-right: 5px;
}

.getstartedWizard .wizard h3 {
    margin-top: 0;
}

.getstartedWizard .skip-btn,
.getstartedWizard .prev-step,
.getstartedWizard .next-step {
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.getstartedWizard .step-head {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.getstartedWizard .term-check {
    font-size: 14px;
    font-weight: 400;
}

.getstartedWizard .custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}

.getstartedWizard .custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}

.getstartedWizard .custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.getstartedWizard .custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: 0.375rem 0.75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}

.getstartedWizard .footer-link {
    margin-top: 30px;
}

.getstartedWizard .list-content {
    margin-bottom: 10px;
}

.getstartedWizard .list-content a {
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}

.getstartedWizard .list-content a[aria-expanded="true"] i {
    transform: rotate(180deg);
}

.getstartedWizard .list-content a i {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}

.getstartedWizard .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}

.getstartedWizard .list-box {
    padding: 10px;
}

.getstartedWizard .signup-logo-header .logo_area {
    width: 200px;
}

.getstartedWizard .signup-logo-header .nav>li {
    padding: 0;
}

.getstartedWizard .signup-logo-header .header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstartedWizard .list-inline li {
    display: inline-block;
}

.getstartedWizard .pull-right {
    float: right;
}

/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
.getstartedWizard input[type="checkbox"] {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.getstartedWizard input[type="checkbox"]::before,
.getstartedWizard input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.getstartedWizard input[type="checkbox"]::before {
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}

.getstartedWizard input[type="checkbox"]::after {
    height: 5px;
    width: 9px;
    left: 4px;
    top: 4px;
}

.getstartedWizard input[type="checkbox"]:checked::after {
    content: "";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}

.getstartedWizard input[type="checkbox"]:checked::before {
    background-color: #18ba60;
    border-color: #18ba60;
}

.getstartedWizard .action {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.getstartedWizard .wizard {
    height: 100%;
    position: relative;
    display: block;
}

.getstartedWizard form.login-box {
    height: 90%;
    position: relative;
    display: block;
}

.getstartedWizard div#main_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.getstartedWizard div#main_form ul {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

li.completeTab .round-tab {
    background-color: var(--tabcompletebg);
}

li.completeTab .round-tab i {
    color: var(--tabcompletecolor);
}

.welcome-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.welcome-page .left-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20%;
    padding-bottom: 20px;
}

.welcome-page .logo-container {
    margin-bottom: 50px;
}

.button-dark,
.button-dark:hover,
.button-dark:focus {
    box-shadow: none;
    background-color: var(--btnDBg);
    color: var(--btncolor);
}

.button-ouline-dark,
.button-ouline-dark:hover,
.button-ouline-dark:focus {
    box-shadow: none;
    border: 1px solid var(--btnOutlineColor);
    color: var(--btnOutlineColor);
}

.switch-icon-button .light {
    display: var(--switch-icon-moon);
}

.switch-icon-button .dark {
    display: var(--switch-icon-sun);
}

.welcome-page .slick-dots {
    bottom: 16px;
}

.welcome-page .slick-dots li button:before {
    color: var(--white);
    opacity: 1;
}

.welcome-page .slick-dots li.slick-active button:before {
    color: var(--blue-purple);
}

.welcome-page .right-images-slider img {
    height: 100vh;
    object-fit: cover;
}

/* navbar */
.mindfulNevbar {
    z-index: 1;
    background: var(--navbarBg);
    border-bottom: 1px solid var(--navbarBorder);
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-brand {
    width: 165px;
    height: 58.24px;
    filter: var(--logo-filter);
}

.focus-none:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

section.dashboard-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 1800px;
    position: relative;
    margin: 0 auto;
}

.dashboardbtngrp {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.deahboardSecLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60px;
}

.deahboardSecLeft h1 {
    font-size: 4rem;
    font-weight: 900;
}

.dashpoardslider {
    max-width: 416px;
    margin: 0 auto;
    width: 100%;
}

.deahboardSecRight p {
    max-width: 304px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.deahboardSecRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.slick-dots li button:before {
    font-family: "slick";
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 1;
    color: var(--sliderDotcolor);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--sliderActiveDotcolor);
}

.deahboardSecLeft p {
    max-width: 515px;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    width: 100%;
}

.deahboardSecLeft button.btn {
    padding: 10px 30px;
}

.deahboardSecLeft button.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #6941c6;
    margin-top: 10px;
}

[theme="darkTheme"] .deahboardSecLeft button.btn-small {
    color: #b8b8b8;
    background: #252525;
}

.dashboardbtngrp a {
    transition: 0.5s;
    padding: 10px 15px;
}

.dashboardbtngrp a:hover {
    filter: invert(1);
}

.deahboardSecRight button:hover {
    filter: invert(1);
}

.deahboardSecRight button {
    transition: 0.5s;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: var(--navbarColor);
}

section.meeting-section {
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.videolefttt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    margin-top: 10px;
}

.gotodashboard {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 14px;
}

.welcome-page .content-container p {
    font-size: clamp(0.7rem, 1vw, 2rem);
}

.actionIcon:hover {
    box-shadow: 0px 0px 14px #b3b0b0b3;
    background: #d9d3d3;
}

.actionIcon {
    width: 40px;
    height: 40px;
    background: #f7f8f9;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border: none !important;
    outline: none !important;
}

.videoActions {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 10px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    margin-bottom: -50px;
    transition: 0.5s;
    left: 20%;
}

.myVideo {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.myVideo:hover .videoActions {
    margin-bottom: 40px;
}

.form--control {
    background-color: var(--inputbg);
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid;
    border-color: var(--inputborderbg);
    border-radius: 8px;
    padding: 10px 14px;
    color: var(--chat-input-color);
}

.left-contentx.msa {
    display: none;
}

.left-content .logo-container {
    display: block;
}

.welcome-page .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    width: 100%;
}

.welcome-page .logo-container {
    flex: 0;
}

.welcome-page .content-container button,
.welcome-page .content-container a {
    padding: 15.5px 10px;
    font-size: clamp(0.7rem, 1vw, 2rem);
    transition: 0.5s;
}

.welcome-page .content-container button,
.welcome-page .content-container a {
    transition: 0.5s;
}

select#connect-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;
    width: 286px;
    height: 44px;
    border-radius: 8px;
    outline: none !important;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

[theme="darkTheme"] select#connect-dropdown {
    background: #383838;
    border: 1px solid #717171;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: #fff;
}

.standard {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.btn.btn-transparent:hover {
    color: #191d23;
    text-decoration: none;
    background: #9798994d;
}

.btn-light-dark:hover {
    background-color: var(--btnLDBg);
    color: var(--btnLDColor);
}

.chat-box {
    background: var(--chat-body-bg);
    border-radius: 4px;
    border: none !important;
}

.chat-header.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--chat-header-bg);
}

.chat-header.card-header h6 {
    background: var(--chat-input-bg);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 10px;
    width: 90%;
    height: 30px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--chat-header-color);
}

#chat-messages li {
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--chat-msg-color);
    clear: both;
    padding: 10px;
}

#chat-messages li.other-message {
    float: left;
    background: var(--chat-other-msg-bg);
}

.chat-footer {
    background: #fff;
    border: none !important;
    padding: 0;
}

#chat-messages li.my-message {
    float: right;
    margin-right: 15px;
    background-color: var(--chat-my-msg-bg);
}

.gap-10 {
    gap: 10px;
}

.chat-footer {
    background: var(--chat-footer-bg);
    border: none !important;
    padding: 0;
}

.chat-input-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.chat-input-group .chat-input {
    background: var(--chat-input-bg);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 60px 15px 16px;
    gap: 10px;
    border: none !important;
    outline: none;
    width: 95%;
    /* position: absolute; */
    right: 50%;
    left: 50%;
    /* transform: translateX(-50%); */
    bottom: 10px;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--chat-input-color);
}

button.chat-btn {
    /* position: absolute; */
    bottom: 17px;
    right: 20px;
    padding: 20px;
    width: 40px;
    height: 40px;
    background: var(--chat-btn-bg);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-heading {
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

ul.rules-list {
    list-style: outside;
    padding-left: 20px;
    position: relative;
}

img.rulesImage {
    position: absolute;
    opacity: .2;
    inset: auto;
    margin: 0 auto;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}

ul.rules-list li {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.9;
}

button.report-btn {
    position: absolute;
    bottom: 5px;
    border: none;
    right: 5px;
    border-radius: 2px;
    padding: 5px 15px;
    background: #de473c;
    color: #fff;
    outline: none;
}

button.report-btn:focus {
    box-shadow: 0px 0px 91px 16px #e9a3a3;
}

.block-card {
    background-color: var(--stepper-bg);
    padding: 20px;
    /*width: fit-content;*/
    margin: 40px auto;
}

span#seemore {
    color: #5f61d1;
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}

.ijosc p {
    font-size: clamp(1rem, 1.3vw, 2rem);
    margin-bottom: 5px;
}

.rules {
    padding-bottom: 80px;
}

.videochattright {
    max-height: 85vh;
}

div#video-message {
    width: 50%;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--chat-header-color);
    margin: 0 auto;
}

.chatbotbox {
    position: absolute;
    overflow: hidden;
    z-index: 9999;
    background: #2e3450;
    max-width: 300px;
    bottom: 100px;
    left: 10px;
    height: 300px;
    width: 100%;
    box-shadow: 4px 5px 5px #52525c7d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.chatbotbox ul {
    height: calc(100% - 70px);
    /* flex: 2; */
    overflow-y: auto;
    margin: 0;
}

.chatbotbox ul::-webkit-scrollbar {
    background: #343541;
    width: 5px;
}

.chatbotbox ul::-webkit-scrollbar-thumb {
    background: #b8b9c3;
    border-radius: 10px;
}

.chatbotbox ul::-webkit-scrollbar-track {
    background: #343541;
    width: 10px;
    border-radius: 10px;
}

.chatbotbox form#chat-bot {
    position: relative !important;
    overflow: hidden;
    height: 100%;
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
}

.chatbotbox form#chat-bot textarea#messageInput {
    position: relative;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    resize: none;
    border-radius: 5px;
    width: 98%;
    padding: 5px 10px;
    /* padding-right: 45px; */
    background-color: #585a66;
    color: #fff;
    font-size: 14px;
}

.chatbotbox form#chat-bot button.chat-btn {
    bottom: 5px;
    right: 5px;
}

img.aichat {
    z-index: 999999;
    /* position: absolute; */
    bottom: 25px;
    left: 20px;
    cursor: pointer;
}

.chatbotbox li {
    margin-bottom: 5px;
    position: relative;
}

.botquestion {
    background: #343541;
    color: #fff;
    font-size: 12px;
    padding: 5px;
}

.botanswer {
    background: #585a66;
    padding: 5px;
    color: #fff;
    font-size: 14px;
}

.chatbotbox li span {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 99;
    background-image: url(../images/icons/selection.png);
    background-size: contain;
    top: 0;
    right: 0;
    cursor: pointer;
}

.closeGpt {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 82px;
    z-index: 2;
    background: none;
    color: var(--chat-input-color);
    border: none;
    outline: none;
}

span.ai-badge {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    left: 30px;
    z-index: 2;
    padding: 5px 10px;
    background: var(--prompt-input-bg);
    color: var(--prompt-input-color);
    border-radius: 5px;
    font-weight: 600;
}

.gptprompt span.ai-badge {
    display: block;
}

.gptprompt input.chat-input.sfcraerffadferfadwedascdfvrwascfrgwasd {
    padding-left: 115px;
}

#chat-bot .chat-input-group {
    position: inherit;
    padding: 10px 5px;
}

.room-number span {
    color: var(--chat-header-color);
}

.oppentent-detail {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    padding: 10px;
    background: var(--blue-purple);
    font-size: 15px;
    border-radius: 20px;
    z-index: 1;
    color: var(--light);
    min-width: 10%;
    max-width: 60%;
}

.oppentent-detail span {
    color: var(--light);
}

.instruction-modal .modal-dialog .modal-content {
    background: var(--instruction-modal-bg-color);
}

.instruction-modal .modal-title {
    color: var(--instruction-modal-head-color);
    font-size: 24px;
}



.instruction-modal .modal-header,
.instruction-modal .modal-footer {
    border: 0;
}

/* loading dots */

.dotloading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0, 0, 0, 0),
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;
    }
}

.btn-primaryyy {
    background-color: var(--btnDBg);
    color: var(--btncolor);
    background-color: var(--blue-purple);
    border-color: var(--blue-purple);
    padding: 5px 10px;
}

.btn-primaryyy p {
    color: #fff;
}